body{
    max-width: 31.25rem;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    background-color: lightgray;
    p{text-align: center;}
    li{
        text-align: center;
        list-style-type: none;
        display: inline-block;
        margin: 1rem;
    }
    a{
        text-decoration: none;
        color: green;
    }
    
}

h1{
    text-align: left;
}
h2{
    text-align: left;
}
.service p{
    text-align: left;
}

.service article{
    background-color: green;
    padding: 1rem 2.5rem;
    margin-bottom: 1rem;
}

.service article h3{
    border-bottom: 1px solid black;
    text-align: left;
}

.service article p{
    text-align: left;
}
a:visited {
	color: green;
}
a:hover, a:focus{
    color: goldenrod;
}

a:focus{
    outline: 1px dotted #003800;
}

a:active{
    background-color: brown;
    color: coral;
}
 
img{
    border-radius: 50%;
}

.email-link {
    background-color: green;
    color: white;
}
.service a{
    padding: 1rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: 45%;
}
footer{
    background-color: lightgray;
}