/* 

Update the CSS to improve accessibility

Consider the following...
 - Color contrast
 - Font sizes
 - Text alignment
 - Readability
*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	color: rgb(119, 119, 119);
	background-color: rgb(255, 184, 184);
	text-align: center;
}

h1 {
	font-family: "Comic Sans", cursive;
	font-size: 60px;
}

h2 {
	font-family: Georgia,Times, "Times New Roman", serif;
	font-size: 50px;
}

span.important {
	font-weight: bold;
}

table,
td,
th {
	border: 10px dotted rgb(255, 0 , 0);
	border-collapse: collapse;
}
